{% extends "va_frontpages/va_base.html" %}
{% block title %}DigitVA | First Login{% endblock %}
{% block content %}
<div class="container mt-5">
  <h3 class="mb-4">Update New Password</h3>
  <p>
    To start using the VA Coding platform, please set a new password and accept the following terms and conditions:
  </p>
  <div class="alert alert-warning">
  <strong>Terms and Conditions:</strong>
  <ul>
    <li>All data and content accessible via the VA Coding platform is considered strictly confidential.</li>
    <li>Users are <b>NOT</b> permitted to share, disclose, or reproduce any part of this data without prior authorization.</li>
    <li>Your cooperation helps ensure the security, integrity, and responsible use of this data in support of public health and research efforts.</li>
  </ul>
</div>


  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.new_password.label(class="form-label") }}
      {{ form.new_password(class="form-control") }}
      {% for error in form.new_password.errors %}
        <div class="text-danger small">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.confirm_password.label(class="form-label") }}
      {{ form.confirm_password(class="form-control") }}
      {% for error in form.confirm_password.errors %}
        <div class="text-danger small">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-check mb-3">
      {{ form.accept_terms(class="form-check-input") }}
      {{ form.accept_terms.label(class="form-check-label") }}
      {% for error in form.accept_terms.errors %}
        <div class="text-danger small">{{ error }}</div>
      {% endfor %}
    </div>

    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
